@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,700;1,400&display=swap');
@import url("menu.css");

:root {
    --paragraph-side-width: 250px;

    --col-gap: 2rem;

    --clr-dark-blue: #004595;
    --clr-blue: rgb(0, 111, 185);
    --clr-light-blue: #f2faff;
    --clr-orange: rgb(234, 91, 10);
    --clr-light-orange: #ed8806; 

    --fw-normal: 400;
    --fw-bold: 700;

    --br-block: 6em 1em 6em 1em;

    --margin-small: 1rem;
    --margin-big: 4rem;
}

html {
    /* Для плавного скролла к якорю */
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

p {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: var(--fw-normal);
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

a:hover {
    color: var(--clr-orange) !important;
    border-bottom: 1px solid rgba(234, 91, 10, 0.3);
}

a:active, a:visited {
    color: black;
}

.page {
    padding-inline: 20px;
}

header {
    background-image: url("images/jsu.svg");
    background-color: var(--clr-dark-blue);
    background-size: cover;
    width: 100%;
    height: 100vh; 
}

.header-curtain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 69, 149, 0.3);  
    
    /* backdrop-filter: grayscale(50%); */
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.main-title {
    font-size: 46px;
    line-height: 1;
    width: 80%;
    text-align: center;
    color: white; 
}

.main-title_big {
    font-size: 90px;
}

section {
    margin-top: var(--margin-big);
}

.abbr {
    letter-spacing: 0.05em; 
}

.paragraph-section {
    position: relative;
    display: grid;
    column-gap: var(--col-gap);
    align-items: baseline;
    grid-template-columns: var(--paragraph-side-width) 1fr;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.paragraph-content {
    max-width: calc(100% - var(--paragraph-side-width) - var(--col-gap));
}

.paragraph-title-wrapper {
    height: 100%;
}

.paragraph-title {
    position: sticky;
    top: 15px;
    width: var(--paragraph-side-width);

    font-size: 24px;
    line-height: 1.1;
    font-weight: 700; 
}

.anim {
}

.anim_type-0 {
    animation-duration: 2s;
}

.anim_type-1 {
    transform: translateX(-100px);
}

.anim_type-2 {
    animation-duration: 1s;
}

.paragraph-title_no-sticky {
    position: static;
    width: 100%;
}

.paragraph-callout {
    text-align: center;
    position: absolute;
    width: var(--paragraph-side-width);
    right: 0;
    margin-top: var(--margin-small);
}

.ig-icon-number {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 1;
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
}

.ig-title {
    font-size: 28px;
    font-weight: var(--fw-normal);
    line-height: 1;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ig-card {
    /* padding: 2rem; */
}

.ig-icon {
   width: 100px; 
}

.ig-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    line-height: 1;
    font-size: 24px;
    font-weight: normal;
    color: var(--clr-blue);
}

.ig-text {
    font-size: 16px;
    line-height: 1.1;
    margin-top: .5em;
}

.ig-section {
    max-width: 1200px;
    width: 100%;
    padding: 3rem;
    /* padding-inline: 2rem; */
    margin-inline: auto;
    text-align: center;
    /* border: 3px solid rgba(0, 69, 149, 0.3); */
    border-radius: var(--br-block);
    border: 3px solid transparent;
    /* background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #e79464, #ffc5a3) border-box; */
    background: var(--clr-light-blue);
    color: var(--clr-blue);
}

.ig-wrapper {
    display: grid;
    column-gap: var(--col-gap);
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: auto;
    margin-top: 2rem;
}

.bold {
    font-weight: var(--fw-bold);
}

.image-section {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    border-radius: var(--br-block);
    overflow: hidden;
}

.image {
    width: 100%;
    display: block;
}

.margin-small {
    margin-top: var(--margin-small);
}

/* .quotes-wrapper {
    display: flex;
} */

.quotes-wrapper {
    position: relative;
    left: calc(-1 * var(--col-gap));
    width: calc(100% + var(--col-gap) * 2 + var(--paragraph-side-width));
    display: grid;
    column-gap: var(--col-gap);
    grid-template-columns: 1fr var(--paragraph-side-width);
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border: 1px solid var(--clr-blue);
    border-radius: 2rem;
}

.quotes-content {
    /* padding-inline: 2rem; */
}

.quotes-author {
    text-align: center;
    flex-basis: var(--paragraph-side-width);
}

.quotes-icon-wrapper {
    width: 50px;
    line-height: 1;
}

.quotes-icon {
    width: 100%;
}

.quotes-author-photo {
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 1px rgb(0, 111, 185);
    -moz-box-shadow: 0px 0px 0px 1px rgb(0, 111, 185);
    box-shadow: 0px 0px 0px 1px rgb(0, 111, 185);
}

.quotes-author-name {
    font-weight: var(--fw-bold);
    margin:0;
}

.quotes-author-position {
    line-height: 1.1;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.mg-top-0 {
    margin-top: 0;
}

.timeline-container {
    --clr-light: #b2b2b2;

    display: grid;
    grid-template-columns: var(--paragraph-side-width) 1fr;
    column-gap: var(--col-gap);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.timeline-date {
    position: relative;
    left: -4rem;
    justify-self: right;
    border-right: 1px solid var(--clr-light);
}

.timeline-year {
    position: relative;
    padding-right: 2rem;
    border-bottom: 1px solid var(--clr-light);
}

.timeline-month {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-size: 16px;
}

.timeline-year_first {
    border-bottom: none;
}

.timeline-author {
    text-align: center;
    padding-top: 2rem;
}

.timeline-author-image {
    max-width: 200px;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(234 91 10);
    -moz-box-shadow: 0px 0px 0px 3px rgb(234 91 10);
    box-shadow: 0px 0px 0px 3px rgb(234 91 10);
}

.timeline-dot {
    --dot-diam: 20px;

    position: absolute;
    right: calc(-0.5 * var(--dot-diam));
    bottom: calc(-0.5 * var(--dot-diam));
    width: var(--dot-diam);
    height: var(--dot-diam);
    border-radius: 50%;
    background-color: var(--clr-orange);
}

.timeline-dot_small {
    --dot-diam: 15px;

    background-color: var(--clr-light);
}


.timeline-text {
    position: relative;
    max-width: calc(100% - var(--paragraph-side-width) - var(--col-gap));
    padding-bottom: 2rem;
    font-style: italic;
}

.timeline-callout {
    right: calc(-1 * var(--paragraph-side-width) - var(--col-gap));
    top: 0;
    font-style: normal;
}